@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* Kill Elfsight internal scroll completely */
.elfsight-app-a28965ed-ad9b-4636-b8bb-5c118e211df1 {
  height: 500px !important;
  overflow: hidden !important;
}

.elfsight-app-a28965ed-ad9b-4636-b8bb-5c118e211df1 iframe {
  height: 500px !important;
  overflow: hidden !important;
  display: block !important;
  border: none !important;
}